@import '../home/home.component.css';

.divExpensePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleUpdate {
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(140, 0, 255);
    color: #fff;
}

.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnAtualizar {
    margin-right: 10px;
}