<mat-card class="mat-elevation-z8">
    <div [formGroup]="expenseForm" class="divExpensePage">
        <mat-card class="titleUpdate mat-elevation-z4">
            <h1>Saida</h1>
        </mat-card>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput type="text" formControlName="date">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput type="text" formControlName="price" currencyMask>
        </mat-form-field>
        <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>quem fez essa compra?</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let tag of tags"
                (removed)="remove(tag)">
                {{tag}}
                <button matChipRemove id="btnCloser">
                    <i-feather name="X"></i-feather>
                </button>
              </mat-chip>
              <input
                placeholder="nova tag..."
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" formControlName="tag">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Anotação</mat-label>
            <input matInput type="text" formControlName="annotation">
        </mat-form-field>
    </div>

    <div class="divButton">
        <button id="btnAtualizar" mat-raised-button color="primary" (click)="updateExpense()">
            Atualizar
        </button>

        <button mat-raised-button color="danger" (click)="voltar()">
            Voltar
        </button>
    </div>
</mat-card>